
.picture-container {
    width: 200px;
    height: 200px;
    margin: 30px auto;
    border: 2px solid #ff66b2;
    border-radius: 5px;
    padding: 3px;
    background: #fff;
}


.artwork {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(#87CEEB, #191970);
    overflow: hidden;
}

.fish {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 120px;
    height: 60px;
}

.fish-1 {
    top: 60px;
    left: 120px;
    transform: rotate(30deg) scale(90%);
}

.fish-2 {
    top: 40px;
    left: -30px;
    transform: rotate(-10deg) scaleX(-1);
}

.fish-3 {
    top: 90px;
    left: 90px;
    transform: scale(70%);
}

.body {
    width: 65px;
    height: 35px;
    background: linear-gradient(90deg, #DDA0DD, #FF00FF);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 0;
}

.tail {
    width: 30px;
    height: 30px;
    background: #FF00FF;
    position: absolute;
    left: 55px;
    top: 13px;
    clip-path: polygon(100% 0%, 70% 50%, 100% 100%, 0% 50%);
}

.pattern {
    width: 12px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 15px;
    border: 3px solid #ff6b6b;
    border-left: none;
    border-radius: 0 100px 100px 0;
}

.patterns {
    width: 7px;
    height: 12px;
    position: absolute;
    border: 2px solid #ff6b6b;
    border-left: none;
    border-radius: 0 100px 100px 0;
}
.pattern-1 {
    left: 30px;
    top: 10px;
}

.pattern-2 {
    left: 33px;
    top: 21px;
}

.pattern-3 {
    left: 30px;
    top: 32px;
}

.eye {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 25px;
    left: 5px;
    background: #000000;
    border-radius: 50%;
}

.sand {
    width: 100%;
    height: 40px;
    background: repeating-linear-gradient(
        90deg,
        #FFA500 0 10px,
        #FFD700 10px 20px
    );
    position: absolute;
    bottom: 0;
}

.pebbles {
    position: absolute;
    bottom: 0px;
    display: flex;
}

.pebble {
    width: 25px;
    height: 10px;
    background: #a0522d;
    border-radius: 50%;
}

.grass {
    width: 150px; 
    height: 200px; 
    position: absolute;
    border-radius: 50%;
    box-shadow: -10px 0 0 0 #32CD32;
}

.grass-1 {
    top: 20px;
    left: 30px;
}

.grass-2 {
    top: 40px;
    left: 100px;
}

.grass-3 {
    transform: scaleX(-1);
    top: 40px;
    left: 15px;
}
